node_modules
.next
# Keep environment variables out of version control
.env
.env.local

/lib/generated/prisma
.DS_Store

# Local imports / exports
Bright Data Web Data Platform*.json
Exclusive Timezone Logs*.json
